{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>About Me</h2>
    <div class="profile-info">
        <h3>Aditya Sharma</h3>
        <p><strong>Ethical Hacker & Tech Enthusiast</strong></p>

        <h4>Personal Details</h4>
        <ul>
            <li><strong>Age:</strong> 21</li>
            <li><strong>Date of Birth:</strong> 06-12-2003</li>
            <li><strong>Mobile:</strong> 7417993583</li>
        </ul>

        <h4>Contact Information</h4>
        <ul>
            <li>adi24664@gmail.com</li>
            <li>lyfjiosim582@gmail.com</li>
            <li>hackhubedi@gmail.com</li>
            <li>tipshecking33@gmail.com</li>
            <li>hackhubedl2@gmail.com</li>
        </ul>

        <h4>Interests</h4>
        <p>I am passionate about ethical hacking, technology, tips and tricks. I am also interested in coding and exploring ways to earn money online.</p>
    </div>
</div>
{% endblock %}
